:root {
    --pink: #f14e95;
    --bg: #ffffff;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(img/Outdoorsy\ Latvian\ Lake\ Wedding\ at\ KÄla\ Ezers\ _\ Junebug\ Weddings\ \(2\).jpeg); */
    /* background-size: cover;*/
    /*background-position: center;*/
    z-index: -1;
    filter: grayscale();
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg);
    min-height: 2000px;
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

.mynavbar {
}

.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 2.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

/* Media Query */
/* laptop */
@media (max-width: 922px) {
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section {
        padding: 45px;
    }

}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 25px;
        margin: 5px;
    }

    .mynavbar .nav-link {
       font-size: 2rem;
       text-align: center;
    }
}

/* mobile phone */
@media (max-width: 578px) {
    html {
        font-size: 60%;
    }

    .simply-countdown>.simply-section {
        padding: 10px;
        margin: 3px;
    }

    
}